* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.d-flex {
    display: flex;
}
.pt-20 {
    padding-top: 20px;
}
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pr-30 {
    padding-right: 30px;
}
.cl-white {
    color: #ffffff;
}

/* header  */

#my-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    background-color: #393838;
    line-height: 35px;
}
.branch-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 10px 0 0 20px;
}
.menu-bar ul {
    list-style: none;
    padding: 30px 20px 20px 200px;
}
.menu-bar ul li {
    padding: 0 20px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: #60de55;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s;
}
.menu-bar ul li a.active {
    color: #fac760;
}

.cart-icon {
    padding: 1px 10px;
    cursor: pointer;
}
.cart-icon i {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #c47113;
    text-align: center;
    line-height: 42px;
    background-color: white;
    color: orange;
}
.cart-icon i:hover {
    color: white;
    background-color: orange;
    transition: all 0.5s;
}

.cart {
    position: relative;
    padding: 25px;
    font-size: 20px;
    color: #fac760;
}
#cart-number {
    background-color: white;
    border: 1px solid green;
    width: 14px;
    color: #60de55;
    height: 14px;
    position: absolute;
    left: 37%;
    top: 25%;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    line-height: 14px;
}
.currency {
    padding: 0 10px;
}

/* banner  */

.banner-img {
    width: 100%;
}
.banner-top {
    position: relative;
}
.banner-cont {
    height: 300px;
    width: 300px;
    opacity: 0.5;
    position: absolute;
    left: 10%;
    top: 20%;
    border-radius: 50%;
}

.banner-bot {
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    background-color: #fac760;
    margin-top: -10px;
}

/* product */
#product {
    padding-bottom: 30px;
    background: linear-gradient(-30deg, rgb(148 92 57 / 54%), rgb(181, 224, 248));
}
.product h2 {
    text-align: center;
    padding: 30px;
    background-color: rgb(48, 48, 96);
    color: white;
}
.pro-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}
.pro-item {
    border: 1px solid #888888;
    border-radius: 5px;
}

.pro-item img {
    width: 100%;
    height: 260px;
}

.pro-banner img {
    width: 100%;
    height: 430px;
    position: relative;
}
.pro-overlay h3 {
    padding-bottom: 20px;
}

.pro-overlay {
    margin-bottom: 5px;
    display: none;
    position: absolute;
    bottom: 0;
    text-align: right;
    color: white;
    background-color: rgba(232, 110, 167, 0.712);
    padding: 20px;
    overflow: hidden;
    transition: all 0.5s;
}
.pro-item-overlay {
    margin-bottom: 5px;
    display: none;
    position: absolute;
    bottom: 0;
    text-align: right;
    color: white;
    background-color: rgba(232, 110, 167, 0.712);
    padding: 20px;
    overflow: hidden;
    transition: all 0.5s;
}
.pro-cont .pro-banner {
    grid-column: 1 / 3;
    position: relative;
}

.pro-item .pro-img:hover .pro-item-overlay {
    display: block;
    /* z-index: 1; */
}

.pro-banner:hover .pro-overlay {
    display: block;
}
.pro-item .pro-img {
    position: relative;
}
.pro-item {
    height: 430px;
}
.pro-body {
    padding-left: 30px;
}
.pro-title {
    font-weight: bold;
    font-size: 18px;
}
.pro-start i {
    color: rgb(238, 214, 56);
}
.pro-price {
    font-weight: bold;
    text-align: right;
    padding-right: 30px;
}
.pro-body button {
    margin-left: 70px;
}

/* shop  */
.shop-img {
    width: 100%;
}
.shop-top {
    position: relative;
}
.shop-cont {
    position: absolute;
    left: 25%;
    top: 40%;
    /* background-color: rgba(151, 121, 104, 0.605); */
    padding: 10px;
}
.shop-cont h3 {
    color: rgb(243, 243, 243);
    font-size: 30px;
    text-align: center;
}
.shop-cont p {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.shop-bot {
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    background-color: #fac760;
    margin-top: -10px;
}
.shop-bot h2 {
    color: rgb(44, 44, 44);
}
.shop-button {
    border: 1px solid rgb(44, 44, 44);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    border: none;
    box-shadow: -1px 3px 5px 3px #888888;
    transition: all 1s;
}
.shop-button :hover {
    background-color: rgba(232, 110, 167, 1);
    border-color: rgba(232, 110, 167, 1);
    border-radius: 5px;
}
.shop-button a {
    padding: 20px;
    color: white;
    letter-spacing: 2px;
}

/* team  */
.team {
    background-color: rgb(65, 65, 131);
}
.team h2 {
    text-align: center;
    padding: 40px;
    color: white;
}
.team-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 15px;
    width: 85%;
    margin: 0 auto;
}

.team-img {
    width: 100%;
}
.team-item {
    position: relative;
}
.team-info {
    width: 77%;
    color: white;
    margin-right: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    background-color: rgb(157, 9, 152);
    opacity: 0.8;
}

.team-info h3 {
    padding-bottom: 10px;
}

.team-overload {
    position: absolute;
    top: 0;
    left: 0;
    width: 77%;
    height: 77%;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    padding: 50px 40px;
    opacity: 0;
    transition: all 0.7s;
}
.team-overload h3 {
    color: #fac760;
    padding: 10px;
}
.team-overload p {
    padding: 10px;
    line-height: 30px;
}
.team-overload .team-socials {
    text-align: center;
    word-spacing: 25px;
    cursor: pointer;
}
.team-socials i {
    padding: 5px;
}
.team-socials i:hover {
    color: #fac760;

    border: 1px solid #fac760;
}
.team-item:hover .team-info {
    opacity: 0;
}
.team-item:hover .team-overload {
    opacity: 1;
}
/* contact  */
#contact {
    padding: 50px;
    background-color: white;
    color: #393838;
}
#contact h2 {
    text-align: center;
    padding-bottom: 30px;
    color: #393838;
}
.form {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
    color: #393838;
}
input {
    padding: 10px;
    border: 1px solid #393838;
    border-radius: 3px;
}

input:focus {
    outline: none;
    box-shadow: 1px 1px 4px 2px #fac760;
    transition: all 0.5s;
}
.form textarea:focus {
    outline: none;
    box-shadow: 1px 1px 4px 2px #fac760;
    transition: all 0.5s;
}
.form textarea {
    padding: 20px;
    grid-column: 1 / span 2;
}

.form button {
    grid-column: 1 / span 2;
}
/* footer  */
.footer {
    background-color: #393838;
    color: white;
    line-height: 30px;
}
/* .footer input{
    padding: 20px;
} */
.footer-item {
    width: 25%;
    padding: 40px;
}
.footer-item h3 {
    color: #fac760;
    text-align: center;
}
.footer-time {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}
.my-button {
    display: block;
    background-color: #fac760;
    padding: 5px 10px;
    border: 1px solid #fac760;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px 0;
}
.my-button:hover {
    background-color: rgb(65, 65, 131);
    color: white;
}

#contact .form .my-button {
    padding: 15px;
    font-size: 15px;
}
#my-modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding: 10px 30px;
    left: 07%;
    top: 30px;
    width: 80%;
    margin: auto;
    border: 1px solid rgb(169, 166, 166);
    border-radius: 10px;
    background: linear-gradient(65deg, #afbcf8, #8ff2e0);
    opacity: 0.95;
}
#modal-buy-cf {
    width: 90%;
    padding: 30px 30px 10px 30px;
}
#modal-buy-cf .modal-cf-img {
    padding-right: 40px;
}
.modal-cf-img img {
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaaaaa;
    float: right;
    margin-right: -7px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-cf-content {
    width: 80%;
}
.modal-cf-content h3,
.modal-cf-content h4 {
    padding: 8px 0;
}
.modal-cf-content .coffee-name {
    font-size: 20px;
}
.modal-cf-content .coffee-price {
    color: #d7084d;
    font-size: 18px;
}
.radio-option {
    display: none;
}
.radio-btn {
    width: 70px;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.topping-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.buy-coffee-form .active {
    background-color: rgb(65, 65, 131);
    color: white;
}
.topping-option {
    display: none;
}

.add-to-cart {
    width: 20%;
    margin: auto;
}
.buy-coffee-form .add-to-cart-btn {
    padding: 20px 30px !important;
    font-size: 18px !important;
    background-color: #f47f35;
    color: #ffffff;
}
.buy-coffee-form .add-to-cart-btn:hover {
    background-color: #22b382;
    color: #ffffff;
}
.total {
    padding-top: 40px;
    font-size: 20px;
    color: #d7084d;
    font-weight: 600;
    letter-spacing: 2px;
}
.table-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
#cart-table {
    position: fixed;
    z-index: 100;
    padding: 30px;
    left: 07%;
    top: 70px;
    width: 80%;
    margin: auto;
    border: 1px solid rgb(169, 166, 166);
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
}
table,
th,
td {
    border: 1px solid rgb(178, 178, 178);
    border-collapse: collapse;
    text-align: center;
    padding: 5px 15px;
    font-size: 14px;
}

#cart-table table {
    border-radius: 7px;
    margin: auto;
}
#cart-table .radio-btn {
    margin: 5px;
    padding: 7px;
}
#table-container {
    display: none;
}
#cart-table .close {
    margin-top: -20px;
}
#cart-table .active {
    background-color: rgb(65, 65, 131);
    color: white;
}

.total-cart {
    text-align: right;
    color: red;
    font-size: 17px;
    letter-spacing: 3px;
    padding-top: 15px;
}
 .topping-btn {
    font-size: 12px;
    margin: 5px;
    padding: 5px 5px;
}
