* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.d-flex {
    display: flex;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.cl-white {
    color: #ffffff;
}
.clear {
    clear: both;
}

.my-button {
    display: block;
    background-color: #fac760;
    padding: 5px 10px;
    border: 1px solid #fac760;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px 0;
}
.my-button:hover {
    background-color: rgb(65, 65, 131);
    color: white;
}

.my-button {
    padding: 15px;
    font-size: 15px;
}
.side-bar {
    width: 250px;
    background-color: rgb(68, 68, 135);

    color: white;
}
.side-bar-header {
    padding: 30px;
    background-color: rgb(48, 48, 96);
}
.menu-bar {
    border-bottom: 1px dotted gray;
}
.menu-bar .active {
    background-color: #496198;
    color: #c21111;
}
.menu-bar li {
    padding: 20px 20px;
}
.menu-bar li {
    background-color: transparent;
}
li:hover {
    background-color: #496198;
    border: 1px dotted rgb(174, 170, 170);
}

.menu-bar a {
    text-decoration: none;
    color: white;
}
.menu-bar a i {
    padding: 0 10px;
}

/* content  */
.dashboard-content {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #acb6e5, #74ebd5);
}
.main-content {
    margin: 40px;
    background-color: #ffffff;
    min-height: 85%;
    border-radius: 10px;
}
.content-header h2 {
    padding: 40px 40px 20px;
    color: rgb(48, 48, 96);
}
.content-header {
    border-bottom: 1px dotted gray;
}
.content-header button {
    float: right;
    margin-right: 50px;
    padding: 15px 20px;
}
.content-table {
    width: 90%;
    margin: auto;
    border-radius: 7px;
}
.content-table th {
    padding: 10px 20px;
}
.content-table th:last-child {
    width: 38px;
}

table,
th,
td {
    border: 1px solid rgb(178, 178, 178);
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
table {
    overflow: auto;
}

.edit-btn {
    margin: 0 3px;
    color: #fac760;
    border-radius: 3px;
    border: 1px solid #fac760;
    transition: all 0.5s;
}
.edit-btn i {
    padding: 5px;
}
.edit-btn:hover i {
    color: #af60fa;
    border: 1px solid #af60fa;
}

.delete-btn {
    margin: 0 3px;
    color: #c21111;
    border-radius: 3px;
    border: 1px solid #c21111;
    transition: all 0.5s;
}
.delete-btn i {
    padding: 5px;
}
.delete-btn:hover i {
    color: #271568;
    border: 1px solid #271568;
}

/* modal popup */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #f4f0f0;
    position: absolute;
     /* float: left; */
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #474747;
    text-decoration: none;
    cursor: pointer;
}

.add-coffee-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 15px;
}

/* MODAL  */
.modal-content {
    border-radius: 7px;
    transition: all 0.5s;
}
.modal-content h3 {
    text-align: center;
    padding: 20px;
}

input {
    padding: 10px;
    border: 1px solid #393838;
    border-radius: 3px;
    width: 90%;
    margin: 5px 0;
    border-color: #393838;
}

input:focus {
    outline: none;
    box-shadow: 1px 1px 4px 2px #fac760;
    transition: all 0.5s;
}
textarea:focus {
    outline: none;
    box-shadow: 1px 1px 4px 2px #fac760;
    transition: all 0.5s;
}
textarea {
    padding: 20px;
    grid-column: 1 / span 2;
    width: 93%;
}
.clear-form-btn {
    background-color: rgb(244, 82, 82);
}

.table-img img {
    width: 100px;
}

.input-img {
    grid-column: 1 / 2 span;
}
.input-img input {
    width: 95%;
}

.done-btn {
    color: orange;
    padding: 5px;
    border-radius: 50%;
    border-color: orange;
    margin: 5px;
}
.delete-btn {
    color: red;
}

#bill-modal {
    display: none;
    background-color: #aaaaaa53;
    width: 70%;
    height: 0;
    /* margin:10% auto; */
    padding: 0;
    position: fixed;
    top: 8%;
    left: 23%;
}
#bill-modal table {
    background-color: #fce1ce;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: auto;
}
#bill-modal table caption {
    background-color: #c75b13;
    padding: 15px;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
}
#bill-modal table thead td {
    text-align: left;
    padding: 10px;
    border: none;
    
}
.trHead {
    background-color: rgb(247, 214, 153);
}
.trHead td {
    text-align: center !important;
    font-weight: bold;
}
#bill-modal table tbody td{
    padding: 10px;
}
#order-table button i{
    color: #fa8d26;
    border: none;
    font-size: 20px;
}
#order-table button:hover{
    transform: scale(1.2);
    cursor: pointer;
}